<div>
  <h1>Bienvenido, {{user.name}}</h1>
  <div>
    {{#if response.hasPrevPage}}
    <a href={{response.prevLink}}>Pagina anterior</a>
    {{/if}}
    {{#if response.hasNextPage}}
    <a href={{response.nextLink}}>Pagina siguiente</a>
    {{/if}}
  </div>
  {{#each response.payload}}
    <div>
      <span>{{this.title}}</span>
      <span>${{this.price}}</span>
      <button>agregar al carrito</button>
    </div>
  {{/each}}
  <button id="logout">Cerrar sesion</button>
  <script src="/js/products.js"></script>
</div>