<div class="container container__products">
  <h1 class="title">Bienvenido, {{user.name}}</h1>
  <p>Rol: {{user.role}} </p>
  <div class="container__icon" onclick="getCartProducts('{{user.cart}}')">
    <img src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt="icon-cart" class="icon__cart">
  </div>
  <div>
    {{#if payload.hasPrevPage}}
    <a href={{payload.prevLink}}>Pagina anterior</a>
    {{/if}}
    {{#if payload.hasNextPage}}
    <a href={{payload.nextLink}}>Pagina siguiente</a>
    {{/if}}
  </div>
  <div class="container__products">
    {{#each payload.payload}}
    <div class="product">
      <span class="name">{{this.title}}</span>
      <span class="price">${{this.price}}</span>
      <button class="btn__add" onclick="buyProduct('{{../user.cart}}','{{this.id}}','{{this.title}}')">agregar al carrito</button>
    </div>
    {{/each}}
  </div>
  <button id="buyCart" onclick="buyCart('{{user.cart}}', '{{user.email}}')">Finalizar compra</button>
  <br><br>
  <button id="logout">Cerrar sesion</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/products.js"></script>