<div class="container container__products">
  <h1 class="title">Bienvenido, {{user.name}}</h1>
  <p>Rol: {{user.rol}}</p>
  <div>
    {{#if response.hasPrevPage}}
    <a href={{response.prevLink}}>Pagina anterior</a>
    {{/if}}
    {{#if response.hasNextPage}}
    <a href={{response.nextLink}}>Pagina siguiente</a>
    {{/if}}
  </div>
  <div class="container__products">
    {{#each response.payload}}
    <div class="product">
      <span class="name">{{this.title}}</span>
      <span class="price">${{this.price}}</span>
      <button class="btn__add">agregar al carrito</button>
    </div>
    {{/each}}
  </div>
  <button id="logout">Cerrar sesion</button>
</div>
<script src="/js/products.js"></script>